.main-header{
    /* background-color:rgb(9, 3, 56) ; */
    background-color:rgb(55, 34, 9);
    padding: 20px;
    color: rgb(210, 220, 239);
    display:flex;
    flex-direction: row;
    /* position: fixed; */
}
.main-header nav ul{
    list-style-type: none;
}

.main-header nav ul li{
    display: inline-block;
    padding: 0 15px;
    font-size: 18px;
}
.main-header nav ul li a:hover{
    cursor: pointer;
    /* color: rgb(79, 94, 147); */
    color: rgb(155, 107, 53);
}

.main-header nav ul li a{
    color:rgb(210, 220, 239) ;
    text-decoration: none;
    font-size: 18px;
}
