.all-history{
    padding:50px 100px;
    color:black ;
    margin-bottom: 5px;
    min-height: 548px;
    background-color: rgb(249, 226, 199);
margin-top: 50px;
min-height: 693px;
}

.all-history-table{
    margin: 30px 80px;
    
}
.head{
    padding: 50px;
}
.all-history-table td{
    padding: 5px 50px;
    border: solid 1px black;
}
table{
    font-weight: bold;
    font-size: 18px;
    
}