.william-shakespeare-history{
    /* margin: 20px 100px; */
    background-color: rgb(4, 4, 92);
    padding:50px 100px;
    color: white;
    margin-bottom: 5px;
}

.william-shakespeare-history-table{
    margin: 30px 80px;
    
}
.head-2{
    padding: 50px;
}
.william-shakespeare-history-table td{
    padding: 5px 50px;
    border: solid 1px black;
}
table{
    font-weight: bold;
    font-size: 18px;
    
}
#history{
    background-color: rgb(9, 3, 56);
    width: 85px;
    padding:2px 5px;
    border-radius: 5px;
}