.all-historyy{
    padding:10px 10px;
    color:black ;
    margin-bottom: 5px;
    min-height: 548px;
    background-color: rgb(249, 226, 199);
    /* background-color: brown ; */
margin-top: 50px;
min-height: 693px;
}

.all-history-tablee{
    margin: 10px 5px;
    
}
.head{
    padding: 50px;
}
.all-history-tablee td{
    padding: 5px 30px;
    border: solid 1px black;
}
table{
    font-weight: bold;
    font-size: 18px;
    
}