.stephen-king-admin-product-card{
    width: 40%;
    border: 1px solid black;
    border-radius: 10px;
    margin: 15px;
    height: 275px;
    background-color: rgb(155, 107, 53);
    display: flex;
    padding: 10px;
    
    
}
.stephen-king-admin-product-card-title{
    text-align: center;
    font-weight: bold;
    color: black;
    

}
.stephen-king-admin-product-card-desc{
    color: black;
    font-size: 14px;
    margin: 10px;
}

.stephen-king-admin-product-card-info{
    padding: 10px;
    text-align: center;
}



.stephen-king-admin-product-card-image img{
    height: 100%;
    width: 150px;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.stephen-king-admin-product-card-image{
    width: 100%;
    height: 272px;
}


.stephen-king-admin-product-card-main-info{
    height: 195px;
}

.stephen-king-admin-product-card-operation button{
    padding: 5px 10px;
    margin: 2px;
    border-radius: 5px;
    color: white;
    border: 0;
    font-size: 16px;
}
.stephen-king-admin-product-card-operation .stephen-king-admin-product-card-edit{
    padding: 5px 15px;
    margin: 2px;
    border-radius: 5px;
    color: white;
    border: 0;
    font-size: 16px;
    background-color:rgb(47, 106, 47);
    text-decoration: none;
}

.stephen-king-admin-product-card-operation .stephen-king-admin-product-card-delete:hover{
    cursor: pointer;
    background-color:rgba(146, 45, 45, 0.599);
}
.stephen-king-admin-product-card-operation .stephen-king-admin-product-card-edit:hover{
    cursor: pointer;
    background-color:rgba(47, 106, 47, 0.54);
}


.stephen-king-admin-product-card-operation .stephen-king-admin-product-card-delete {
    background-color: rgb(146, 45, 45);

}

/* .stephen-king-admin-product-card-operation  .stephen-king-admin-product-card-view{
    padding: 5px 15px;
    margin: 2px;
    border-radius: 5px;
    color: white;
    border: 0;
    font-size: 16px;
    background-color:rgb(111, 31, 222);
    text-decoration: none;
}

.stephen-king-admin-product-card-operation .stephen-king-admin-product-card-view:hover{
    cursor: pointer;
    background-color:rgba(111, 31, 222, 0.441);
} */
