.william-shakespeare-admin-product-card{
    width: 40%;
    border: 1px solid black;
    border-radius: 10px;
    margin: 15px;
    height: 275px;
    background-color: rgb(111, 128, 163);
    display: flex;
    padding: 10px;
    
    
}
.william-shakespeare-admin-product-card-title{
    text-align: center;
    font-weight: bold;
    color:rgb(9, 3, 56) ;
    

}
.william-shakespeare-admin-product-card-desc{
    color: rgb(9, 3, 56); ;
    font-size: 14px;
    margin: 10px;
}

.william-shakespeare-admin-product-card-info{
    padding: 10px;
    text-align: center;
}



.william-shakespeare-admin-product-card-image img{
    height: 100%;
    width: 150px;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.william-shakespeare-admin-product-card-image{
    width: 100%;
    height: 272px;
}


.william-shakespeare-admin-product-card-main-info{
    height: 195px;
}

.william-shakespeare-admin-product-card-operation button{
    padding: 5px 10px;
    margin: 2px;
    border-radius: 5px;
    color: white;
    border: 0;
    font-size: 16px;
}
.william-shakespeare-admin-product-card-operation .william-shakespeare-admin-product-card-edit{
    padding: 5px 15px;
    margin: 2px;
    border-radius: 5px;
    color: white;
    border: 0;
    font-size: 16px;
    background-color:rgb(47, 106, 47);
    text-decoration: none;
}

.william-shakespeare-admin-product-card-operation .william-shakespeare-admin-product-card-delete:hover{
    cursor: pointer;
    background-color:rgba(146, 45, 45, 0.734);
}
.william-shakespeare-admin-product-card-operation .william-shakespeare-admin-product-card-edit:hover{
    cursor: pointer;
    background-color:rgba(47, 106, 47, 0.684);
}


.william-shakespeare-admin-product-card-operation .william-shakespeare-admin-product-card-delete {
    background-color: rgb(146, 45, 45);

}

.william-shakespeare-admin-product-card-operation  .william-admin-product-card-show{
    padding: 5px 15px;
    margin: 2px;
    border-radius: 5px;
    color: white;
    border: 0;
    font-size: 16px;
    background-color:rgb(111, 31, 222);
    text-decoration: none;
}

.william-shakespeare-admin-product-card-operation .william-admin-product-card-show:hover{
    cursor: pointer;
    background-color:rgba(111, 31, 222, 0.441);
}